.StarRaiting {
    .hovered {
        fill: var(--primary-color);
    }
}

.StarRaitingRedesigned {
    .hovered {
        fill: var(--icon-redesigned);
    }
}

.Icon {
    fill: none;
    cursor: pointer;
}

.normal {
    fill: none;
}

.selected {
    cursor: default;
}