.app.dark {
  --bg-color: #593dd6;
  --inverted-bg-color: #d1d1d2;
  --primary-color: #507006;
  --secondary-color: #06b262;
  --inverted-primary-color: #451395;
  --inverted-secondary-color: #6d74e285;
}
