.app_deep_purple_theme {
    --bg-color: #f9f4fb;
    --inverted-bg-color: #66004c;
    --primary-color: #29003d;
    --secondary-color: #5f227d;
    --inverted-primary-color: #765f6e;
    --inverted-secondary-color: #a8a8a8;
    --skeleton-color: #6f0726;
    --skeleton-shadow: #aa103e;
    --code-bg: #fff;
    --card-bg: #e3dee5;
    --listbox-bg: #e3dee5;
    --dropdown-bg: #e3dee5;

    --dark-bg-redesigned: #FFF3D6;
    --bg-redesigned: #F0C048;
    --light-bg-redesigned: #F2D791;
    --text-redesigned: #1B1311;
    --hint-redesigned: #B8B2A2;
    --cancel-redesigned: #FF5E5E;
    --save-redesigned: #52FA81;
    --icon-redesigned: #4875F0;
    --accent-redesigned: #1D59FF;
}
