.app_deep_purple_theme {
  --bg-color: #f9f4fb;
  --inverted-bg-color: #66004c;
  --primary-color: #29003d;
  --secondary-color: #5f227d;
  --inverted-primary-color: #765f6e;
  --inverted-secondary-color: #a8a8a8;

  --skeleton-color: #6f0726;
  --skeleton-shadow: #aa103e;

  --code-bg: #fff;
}
