:root {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;
  --primary-color: #0232c2;
  --secondary-color: #0449e0;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;

  --skeleton-color: #86868e;
  --skeleton-shadow: #94949c;

  --code-bg: #fff;

  --card-bg: #d1d1d5;

  --listbox-bg: #d1d1d5;

  --dropdown-bg: #d1d1d5;
}

